<form #form=ngForm class="form-style">
    <h2>Добавление пользователя</h2><br>
      <ul>
  
          <li>                  
            <input type="text" name="field1" [(ngModel)]="user.login" class="field-style field-split3 align-left" placeholder="Логин" required />
          </li>
  
          <li>                  
            <input type="text" name="field2" [(ngModel)]="user.password" class="field-style field-split3 align-left" placeholder="Пароль" required />
          </li>
  
  
          <li style="height: 44px">
            <input type="email" name="field3"  [(ngModel)]="user.email" class="field-style field-split3 align-left"  #email="ngModel" placeholder="Email" email />          
          </li>
  
          <li>
            <p>Роли</p>
            <select [(ngModel)]="role" name="field4" required>
              <option *ngFor="let role of roles">
                {{role}}
              </option>
            </select>
          </li>   
      </ul>
      </form>
     
      <button type="submit"  [disabled]="form.invalid" (click)="addUser()" value="Добавить задержанного к задержанию">Добавить пользователя</button>
   

