<h1>Задержание {{"№:"+ddetention.detentionID}}</h1>
<div *appIsGranted="'UPDATE'">
<button style="float:right" type = "button" class = "btn btn-danger" mat-raised-button (click)="deleteDetention()">Удалить</button>
<button  style="float:right; margin-right:20px" type = "button" class = "btn btn-warning" mat-raised-button (click)="changeDetention()">Изменить</button>
</div>
<br>
<br>
<div *ngIf="change">
    <button style="width:100px; float:right" class="btn btn-block btn-secondary" (click)="saveChanges()">Сохранить</button>    
    <button style="width:100px; float:right; margin-right:20px" class="btn btn-block btn-warning" (click)="cancel()">Отмена</button>
</div>  
<h2>Дата</h2>
<div *ngIf="!change">
{{ddetention.detentionDate | date: "dd/MM/yyyy" }}
</div>
<div *ngIf="change">
<input type="date" [ngModel] ="ddetention.detentionDate | date:'yyyy-MM-dd'" (ngModelChange)="ddetention.detentionDate = $event" class="form-control" />
</div>
<h2>Сведения о сотруднике ответственном за задержание</h2>
<employee-detail *ngIf="employeeID" (toDetentionChange)="getEmployeeFromDetail($event)" [ifChange]="change" [employeeID]="employeeID"></employee-detail>
<h2>Задержанные</h2>
<div class="container">
    <table  form  class="table table-bordered table-sm" style="height: 100px;">
        <thead>
            <tr > 
                <td>Номер задержанного</td>
                <td>Полное имя</td>    
                <td>Дата рождения</td>
                <td>Семейное положение</td>
                <td>Место работы</td>
                <td>Мобильный телефон</td>
                <td>Домашний телефон</td>       
                <td>Адрес прописки</td>
    
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let d of smartDetainees" (dblclick)="getDetainee(d)">
                <ng-template [ngIf]="detainee?.detaineeID != d.detaineeID" [ngIfElse]="edit">
                    <td>{{d?.detaineeID}}</td>
                    <td>{{d?.fullname}}</td>         
                    <td>{{d?.birthDate | date: "dd/MM/yyyy"}}</td>
                    <td>{{d?.maritalStatus}}</td>
                    <td>{{d?.job}}</td>
                    <td>{{d?.mobilePhoneNumber}}</td>
                    <td>{{d?.homePhoneNumber}}</td>           
                    <td class="text-truncate" style="max-width: 150px;">{{d?.residencePlace}}</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    </div>
<div class="twins">
    <h2>Доставка задержанного</h2>
 <app-delivery *ngIf="smartDetainee && !change" [detaineeID]="smartDetainee.detaineeID" [detentionID]="smartDetention.detentionID"></app-delivery>
    
</div>

<div class="twins">
    <h2>Освобождение задержанного</h2>
    <app-release *ngIf="smartDetainee && !change" [detaineeID]="smartDetainee.detaineeID" [detentionID]="smartDetention.detentionID"></app-release>
</div>



