

<button *appIsGranted="'UPDATE'" id="addbutton" type="button" class="btn btn-primary" routerLink="../add-detention">Добавить задержание</button>

<router-outlet></router-outlet>
<br>
<h2>Список задержаний</h2>
{{date | date:'fullDate'}}
{{message}}

<br>
<table id= "auto-layout" class="table table-striped">
    <thead>
        <tr > 
            <td>Номер задержания</td>
            <td>Дата задержания</td>
            <td>Фамилия и инициалы сотрудника ответственного за задержание</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of detentions" (dblclick)="toDetentionDetail(d)">           
            <td>{{d?.detentionID}}</td>
            <td >{{d?.detentionDate}}</td>
            <td>{{d?.employeeFullName}}</td>    
        </tr>
    </tbody>
</table>

<ng-template #edit>
    <td>
        <input type="text"  [(ngModel)]="detention.detentionID" class="form-control d-inline-block" />
    </td>
     <td>
        <input type="text" [(ngModel)]="detention.detentionDate" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="detention.detainedByEmployeeID" class="form-control" />
    </td>
    <td>
        <button class="btn btn-block btn-secondary" (click)="saveChanges()">Сохранить</button>
    <p></p>
        <button class="btn btn-block btn-warning" (click)="cancelChanges()">Отмена</button>
    </td>
</ng-template>
