<h2 style="margin-left: 10px">Доставки</h2>
<br>
<table class="table table-striped">
    <thead>
        <tr> 
            <td>Номер доставки</td>
            <td>Дата доставки</td>
            <td>Адрес доставки</td>
            <td>Фамилия и инициалы сотрудника</td>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let d of smartDeliverys">  
            <td>{{d?.deliveryID}}</td>
            <td>{{d?.deliveryDate}}</td>
            <td>{{d?.placeAddress}}</td>
            <td>{{d?.employeeFullName}}</td>             
        </tr>
    </tbody>
</table>


