<form #form=ngForm class="form-style">
  <h2>Добавление задержанного</h2><br>
    <ul>
      <li>
        <img [src]="imageUrl"  style="width:250px; height:200px">
        <label class="custom-file-upload">
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)"/>
        Загрузить изображение
        </label>
        </li>    

        <li>                  
          <input type="text" name="field1" [(ngModel)]="detainee.firstName" class="field-style field-split3 align-left" placeholder="Имя" required />
          <input type="email" name="field2" [(ngModel)]="detainee.lastName" class="field-style field-split3 align-center" placeholder="Фамилия" />
          <input type="email" name="field3"[(ngModel)]="detainee.patronymic" class="field-style field-split3 align-right" placeholder="Отчество" />
        </li>

        <li>                  
          <input type="date" name="field1" [(ngModel)]="detainee.birthDate" class="field-full" placeholder="Имя" />
        </li>

        <li style="height: 44px">
          <input type="text" name="field1" [(ngModel)]="detainee.maritalStatus" class="field-style field-split align-left" placeholder="Семейное положение" />
          <input type="email" name="field2"[(ngModel)]="detainee.job" class="field-style field-split align-right2" placeholder="Место работы" />
        </li>

        <li style="height: 44px">
          <input type="text" name="field1"  [(ngModel)]="detainee.homePhoneNumber" class="field-style field-split align-left" placeholder="Домашний телефон" />
           <input type="email" name="field2" [(ngModel)]="detainee.mobilePhoneNumber" class="field-style field-split align-right2" placeholder="Мобильный телефон" />
        </li>

        <li>
          <input type="text" name="field3" [(ngModel)]="detainee.residencePlace"  class="field-style field-full"  placeholder="Адрес прописки" />
        </li>

        <li>
          <textarea name="field5" [(ngModel)]="detainee.extraInfo" class="field-style" placeholder="Дополнительная информация"></textarea>
        </li>
    </ul>
    <button type="submit" [disabled]="Image.value==''||!form.valid" (click)="sendDetaineeToDetention()" value="Добавить задержанного к задержанию">Добавить задержанного к задержанию</button>
