<h2 style="margin-left: 10px">Сотрудники</h2>
<button *ngIf = "!add"  (click)="changeAdd()">Добавить сотрудника</button>
<div *ngIf = "!add">
<table class="table table-bordered table-sm">
    <thead>
      <tr > 
        <td>Номер сотрудника</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчество</td>
        <td>Должность</td>
        <td>Звание</td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employees" (dblclick)="editEmployee(e)">
          <ng-template [ngIf]="employee?.employeeID != e.employeeID" [ngIfElse]="edit">
            <td>{{e?.employeeID}}</td>
            <td >{{e?.firstName}}</td>
            <td>{{e?.lastName}}</td>
            <td>{{e?.patronymic}}</td>
            <td>{{e?.position}}</td>
            <td>{{e?.employeeRank}}</td>               
             <button class="btn btn-block btn-secondary" (click)="editEmployee(e)">Изменить</button>                
            <button class="btn btn-block btn-secondary button5" (click)="delete(e)">X</button>
          </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #edit>
  <td>
    <input type="text"  [(ngModel)]="employee.employeeID" class="form-control d-inline-block" />
  </td>

  <td>
    <input type="text" [(ngModel)]="employee.firstName" class="form-control" />
  </td>

  <td>
    <input type="text" [(ngModel)]="employee.lastName" class="form-control" />
  </td>

  <td>
    <input type="text" [(ngModel)]="employee.patronymic" class="form-control" />
  </td>

  <td>
    <input type="text" [(ngModel)]="employee.position" class="form-control" />
  </td>

  <td>
    <input type="text" [(ngModel)]="employee.employeeRank" class="form-control" />
  </td>

  <td>
    <button class="btn btn-block btn-secondary" (click)="saveChanges()">Сохранить</button>
    <br>
    <button class="btn btn-block btn-warning" (click)="cancel()">Отмена</button>
  </td>
</ng-template>
</div>
<form *ngIf = "add" #form='ngForm' class="mb-4" autocomplete="off">

  <div class="form-group col-md-2 offset-md">
    <label>Имя</label>
    <input type="text" default="Hi" name="firstName"  autocomplete="off" [(ngModel)]="employee.firstName" class="form-control"  required autofocus>
  </div>
  
  <div class="form-group col-md-2 offset-md">
    <label>Фамилия</label>
    <input type="text" #Login="ngModel" name="lastName" [(ngModel)]="employee.lastName"   class="form-control"  required autofocus>
  </div>

  <div class="form-group col-md-2 offset-md">
    <label>Отчество</label>
    <input type="text" #Login="ngModel" name="patronymic" [(ngModel)]="employee.patronymic"   class="form-control"  required autofocus>
  </div>

  <div class="form-group col-md-2 offset-md">
    <label>Должность</label>
    <input type="text" #Login="ngModel" name="position" [(ngModel)]="employee.position" class="form-control" required autofocus>
  </div>

  <div class="form-group col-md-2 offset-md">
    <label>Звание</label>
    <input type="text" #Login="ngModel" name="employeeRank" [(ngModel)]="employee.employeeRank" class="form-control" required autofocus>
  </div>  

  <div class="form-row">
    <div class="form-group">
      <button type="submit" (click)="createNewEmployee()" class="btn btn-lg btn-block" [disabled]="form.invalid">Добавить сотрудника</button>
      <button type="submit" (click)="changeAdd()" class="btn btn-lg btn-block" [disabled]="form.invalid">Отмена</button>
    </div>
  </div>
  
</form>