#wrapper {
margin:0;
padding-right:250px;    
position: relative;    
max-height: 100%;    
overflow: hidden;    
}    

#sidebar{
max-height: 100%;  
padding:30px;
background:#3e5f8a;
position: absolute;
top: 5.8%;
left: 0;
bottom: 0;
height: 100%;
width: 15.5%;
}

#radio{
background-color: "black"    
}



.child{  
    margin-top:30px;
    margin-left:320px;   
}

a, a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul p {
    color: #fff;
    font-size: 18pt
}

#sidebar #lessText {
    color: #fff;
    font-size: 12pt
}

#navbutton
{
    width: 200px
}


#nav-cursor {
    cursor: pointer;
}

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
  }
  
  .navbar-header.navbar-right.pull-right {
    margin-right: 15px;
  }
  
  .navbar-right > li {
    float: left;
  }
